<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564851070073-5lmt4192om4ufgshqrid4qjqqfv0s127.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564851070073-5lmt4192om4ufgshqrid4qjqqfv0s127</string>
	<key>API_KEY</key>
	<string>AIzaSyDWBiEXHGbwjs85LznUv3SovkJE-E4LLDY</string>
	<key>GCM_SENDER_ID</key>
	<string>564851070073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abai-IT-Valley.Elimai---Football-Fever</string>
	<key>PROJECT_ID</key>
	<string>elimai-football-fever</string>
	<key>STORAGE_BUCKET</key>
	<string>elimai-football-fever.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564851070073:ios:846b0f9c64571b00e830a8</string>
	<key>DATABASE_URL</key>
	<string>https://elimai-football-fever-default-rtdb.firebaseio.com</string>
</dict>
</plist>